---
export const prerender = false

import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import PhotoGrid from '../components/PhotoGrid.astro'
import Lightbox from '../components/Lightbox.astro'
import CategoryFilter from '../components/CategoryFilter.astro'
import { fetchSiteSettings } from '../lib/siteSettings'
import { fetchMainMenu } from '../lib/mainMenu'
import { fetchNavigationPages } from '../lib/pages'
import { buildNavigation } from '../lib/navigation'

const activeCategory = Astro.url.searchParams.get('category') ?? 'hollywood'
const [settings, mainMenu, navPages] = await Promise.all([
  fetchSiteSettings(),
  fetchMainMenu(),
  fetchNavigationPages(),
])
const navItems = buildNavigation(settings, navPages, mainMenu.items)
---

<Layout>
  <main class="min-h-screen bg-white">
    <Header activeCategory={activeCategory} navItems={navItems} settings={settings} />
    <PhotoGrid />
    <Lightbox />
    <CategoryFilter />
  </main>
</Layout>
