---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import PhotoGrid from '../components/PhotoGrid.astro'
import Lightbox from '../components/Lightbox.astro'
import CategoryFilter from '../components/CategoryFilter.astro'

const activeCategory = Astro.url.searchParams.get('category') ?? 'hollywood'
---

<Layout>
  <main class="min-h-screen bg-white">
    <Header activeCategory={activeCategory} />
    <PhotoGrid />
    <Lightbox />
    <CategoryFilter />
  </main>
</Layout>
